@import url(stylesGeneral.css);


/* Logo */
header a {
    width: 100%;
    display: inline-block;
    text-align: center;

    img {
        width: 25%;
        vertical-align: middle;
        min-width: 230px;
        /* Límite mínimo del tamaño del logo */
    }
}

#PokemonSeleccionado, 
#PokemonSeleccionadoNumero{
    color: #869513 !important;
}

body.modo-claro {
    background-image: url(../images/fondoClaroPokemon.jpg);
}

body.modo-oscuro {
    background-image: url(../images/fondoOscuroPokemon.jpg);

    .evolucionInfoBoton,
    #info-MetodoEvolucion,
    .subContenedor-InfoEv,
    .auxInfo-MetEv,
    #pokemonInfoContainer,
    #pokemonStats {
        color: #FFFFFF;
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
        border: 2px solid #FFFFFF;
        background-color: #000000;
    }

    #titulo-cadenaEvolutiva,
    #pokemonInfoContainer,
    #pokemonStats,
    .stat,
    .nombre_estadistica,
    .valor_estadistica,
    #titulo-infoMetodoEv,
    #total-stats,
    h3 {
        color: #FFFFFF;
    }

}

h3 {
    font-family: "Mermaid";
    font-size: 20px;
}

/* Imagen grande del pokémon en su vista */
#pokemonImagen {
    width: 350px;
    height: auto;
}

#pokemonInfoContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Mermaid";
    font-size: 18px;
    margin: 30px auto;
    
    flex-wrap: nowrap;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 2px solid #000000;
    border-radius: 20px;
    max-width: 400px;
    height: auto;
    background-color: #FFFFFF;
    text-align: center;
}

#pokemonStats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    font-family: "Mermaid";
    font-size: 18px;
    align-items: end;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 2px solid #000000;
    border-radius: 20px;
    width: fit-content;
    background-color: #FFFFFF;
}

.stat {
    width: 120px;
    display: flex;
    flex-direction: row;
    margin: 40px; /* Espacio entre cada estadística */
    /*width: auto;*/
    align-items: center;
    align-content: center;
}

.barra_valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px; /* Ancho de la barra y el valor */
}

.barra_estadisticas {
    width: 120px; /* Ancho de la barra */
    height: 20px;
    background-color: blue; /* Color de la barra */
    margin-bottom: 5px;
    align-self: center;
    flex-direction: row;
    align-items: center;
}

.nombre_estadistica {
    font-family: "Mermaid";
    text-align: center;
}

.valor_estadistica {
    font-weight: bold;
    font-family: "Good";
    text-align: center;
}

#total-stats {
    font-family: "Mermaid";
    text-align: center;
}

/* Contiene el título y la cadena evolutiva */
#contenedor-cadenaEvolutiva {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: wrap;
}

/* Contiene los pokemons de la cadena evolutiva */
#contenido-cadenaEvolutiva {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Contiene los pokemons de una misma "fase" evolutiva */
#contenido-FaseEvolucion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    flex-wrap: wrap;
}

.contenido-FilaFaseEv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 30px;
    flex-wrap: wrap;
}

/* Estilo del título de la cadena evolutiva */
#titulo-cadenaEvolutiva {
    font-family: "Mermaid";
    font-size: 28px;
    color: #000000;
    margin-bottom: 30px;
}

.contenedor-flechaConTarjeta {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Flecha roja que indice la evolución de un pokémon a otro */
.flechaEvolucion {
    padding-left: 40px;
    padding-right: 50px;
    width: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Estilo del texto de información de la evolución */
.evolucionInfoBoton {
    margin-top: 10px;
    font-family: "Mermaid";
    font-size: 18px;
    width: 100px;
    height: 50px;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 2px solid #000000;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Tarjeta donde aparece la información de cómo realizar esa evolución */
#info-MetodoEvolucion,
.subContenedor-InfoEv,
.auxInfo-MetEv {
    font-family: "Mermaid";
    font-size: 18px;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 2px solid #000000;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

#titulo-infoMetodoEv {
    font-family: "Mermaid";
    font-size: 28px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    #contenido-cadenaEvolutiva {
        flex-direction: column;
    }
    .contenedor-flechaConTarjeta{
        flex-direction: column;
    }
    #contenido-FaseEvolucion {
        flex-direction: row;
    }
    .contenido-FilaFaseEv {
        flex-direction: column;
    }

}

@media screen and (max-width: 1100px) {
    #pokemonInfoContainer {
        width: auto;
        /* Máximo 3 elementos por fila */
    }
}

@media screen and (max-width: 860px) {
    #pokemonInfoContainer {
        width: auto;
        /* Máximo 2 elementos por fila */
    }
}

@media screen and (max-width: 620px) {
    #pokemonInfoContainer {
        width: auto;
        /* Máximo 1 elemento por fila */
    }
}

@media screen and (max-width: 1100px) {
    #pokemonStats {
        width: auto;
        /* Máximo 3 elementos por fila */
    }
}



@media screen and (max-width: 860px) {
    #pokemonStats {
        width: auto;
        /* Máximo 2 elementos por fila */
    }
}

@media screen and (max-width: 620px) {
    #pokemonStats {
        width: auto;
        /* Máximo 1 elemento por fila */
    }
}
@media screen and (max-width: 1100px) {
    #pokemonImagen  {
        width: 300px;
        /* Máximo 3 elementos por fila */
    }
}

@media screen and (max-width: 860px) {
    #pokemonImagen  {
        width: 200px;
        /* Máximo 2 elementos por fila */
    }
}
@media screen and (max-width: 620px) {
    #pokemonImagen {
        width: 150px;
    }
}